.hero-section {
  .hero-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      height: 30px;
    }
  }

  h1 {
    max-width: 758px;
    width: 100%;
    text-align: center;
    margin: 0 auto 18px;
    font-size: 50px;
    font-weight: 700;
    line-height: 110%;
  }

  .main-description {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    max-width: 758px;
    width: 100%;
    text-align: center;
    margin: 0 auto 46px;
  }

  .call-to-action {
    position: relative;
    text-align: center;
    max-width: 225px;
    margin: 15px auto 60px;
    width: 100%;

    > img {
      transform: rotate(-4.213deg);
      position: absolute;
      height: 65px;
      top: -30px;
      left: -40px;
    }

    button {
      padding: 12px 31px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background: #F6961B;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      transition: background .3s ease;

      &:hover {
        background: #c97c19;

      }
    }

    .button-descriptor {
      font-size: 12px;
      font-weight: 500;
    }
  }

}

.action-items {
  padding-bottom: 162px;

  > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
  }

  .row-item {
    display: flex;
    flex-direction: row;

    p {
      width: 80%;
      max-width: 160px;
    }

    &:nth-child(2) {
      p {
        //max-width: 120px;
      }
    }
  }

  .item-container {
    width: 62px;
    height: 62px;
    border-radius: 14px;
    background: var(--hover, #F0F3FF);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 20px;

    img {
      height: 40px;
    }
  }
}
