@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');
@import "resets";
@import "header";
@import "heroSection";
@import "pricingSection";

.app-main {
  padding: 80px 0;

  &.main-404 {
    padding: 190px 35px;
    text-align: center;

    h1 {
      font-size: 45px;
    }
  }
}
